[MASTER]
# Use the virtual environment's site-packages
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable some warnings that are not relevant for this project
disable=too-few-public-methods,too-many-locals

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of locals for function / method body
max-locals=20